.contact-me .channel {
  margin-bottom: 50px;
  margin-top: 50px;
}

.contact-me .channel .desc {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.form-element:first-child {
  margin-top: 5px;
}

.form-element {
  display: inline;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 90%;
  font-weight:600;
  border: none;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  transition: transform 0.5s 0.6s;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

i {
  margin-right: 10px;
}

#contactme-section {
  clear: both;
}

.form-element:focus {
  outline: none;
}

.form-card {
  position: relative;
  background: #fff;
  padding: 45px 40px;  
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.6s 0.6s;
}

.form-button {
  background: #3db371;
  display: block;
  width: 100%;
  padding: 10px;
  border: transparent;
  color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
}

.form-button:active,
.form-button:focus {
  background: #66cdaa;
  outline:none;
}

.form-button p {  
  padding: 10px;
  display: inline;
}

.form-button i {
  color: #fff;
  display: inline;
}