<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<section id="social-share-section">
  <h3>Spread the word 🙏</h3>
  
  {% if site.share-links-active.twitter %}
  <!--- Share on Twitter -->
    <a target="_blank"
      href="#"
      onclick="MyWindow=window.open('https://twitter.com//intent/tweet?text=\{{ page.title | url_encode }} by @{{site.social-network-links.twitter}} {{site.url}}{{page.url}}', 'MyWindow', width=600,height=300); return false;"
      class="share-icon" title="Share on Twitter">
      <span class="fa fa-fw fa-twitter" aria-hidden="true"></span>
      <span class="sr-only">Twitter</span>
    </a>
  {% endif %}

  {% if site.share-links-active.facebook %}
  <!--- Share on Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-facebook" title="Share on Facebook">
      <span class="fa fa-fw fa-facebook" aria-hidden="true"></span>
      <span class="sr-only">Facebook</span>
    </a>
  {% endif %}

  {% if site.share-links-active.google %}
  <!--- Share on Google Plus -->
    <a href="#"
      onClick="MyWindow=window.open('https://plus.google.com/share?url={{ site.url }}{{ page.url }}', 'MyWindow', width=600,height=300); return false;"
      class="share-icon" title="Share on Google+">
      <span class="fa fa-fw fa-google-plus" aria-hidden="true"></span>
      <span class="sr-only">Google+</span>
    </a>
  {% endif %}

  {% if site.share-links-active.linkedin %}
  <!--- Share on LinkedIn -->
    <a href="#"
      onclick="MyWindow=window.open('https://www.linkedin.com/shareArticle?title={{ page.title | url_encode }} by @{{ site.social-network-links.linkedin }}&url={{ site.url }}{{ page.url }}', 'MyWindow', width=600,height=300); return false;"
      class="share-icon" title="Share on LinkedIn">
      <span class="fa fa-fw fa-linkedin" aria-hidden="true"></span>
      <span class="sr-only">LinkedIn</span>
    </a>
  {% endif %}

</section>

{% endif %}
